<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="upload/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="upload/js/jquery.min.js"></script>
    <script type="text/javascript" src="upload/js/bootstrap.min.js"></script>
</head>
<body>
<script>
    $(function(){
        $(".headerpage").load("public/index_head.html");
        $(".footerpage").load("public/index_foot.html");
    });
</script>
<div class="headerpage"></div>
<div class="row">
    <div class="col-sm-2">
        <div class="lefterpage">
            <ul class="nav nav-pills nav-stacked" style="margin-left: 100px">
                <li role="presentation" class="active"><a href="/queryMinor"><em class="glyphicon glyphicon-home">查询辅修专业</em></a></li>
                <li role="presentation" class="active"><a href="/queryMyCourse">我的辅修课程</a></li>
                <li role="presentation" class="active"><a id="upload-table" href="javascript:openUrl('uploadTable')">交回执单</a></li>
                <li role="presentation" class="active"><a id="down-table" href="javascript:openUrl('down-table')">下载报名表</a></li>
                <li role="presentation" class="active"><a href="score">成绩</a></li>
                <li role="presentation" class="active"><a id="board" href="javascript:openUrl('board')">通知</a></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default col-sm-6" id="main">
        <div id="light">
            <div th:if="${respData.getCode() != 0}">
                <em th:text="${respData.getMsg()}"></em>
            </div>
            <table th:if="${respData.getCode() == 0 && respData.getData() != null}" class="table">
                <tr>
                    <td>课程编号</td>
                    <td>辅修专业</td>
                    <td>开设学院</td>
                    <td>报名人数</td>
                    <td>操作</td>
                </tr>
                <tr th:each="minor:${list}">
                    <td th:text="${minor.getMinorId()}"></td>
                    <td th:text="${minor.getMinorName()}"></td>
                    <td th:text="${minor.getAcademy()}"></td>
                    <td th:text="${minor.getCount()}"></td>
                    <td><a th:href="@{/entryFrom(minorId=${minor.getMinorId()})}">去报名</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="footerpage"></div>
<script type="text/javascript" src="upload/js/user.js"></script>
<script type="text/javascript">
    function openUrl(url) {
        $('#main').attr(url);
    }

    $("#down-table").on("click",function () {
        var url = "downLoad";
        $.ajax({
            type:"post",
            url:url,
            contextType: false,
            processData: false,
            success: function (data) {
                if (data.code == 0){
                    alert("下载成功");
                } else {
                    alert(data.msg)
                }
            }
        });
    });
</script>
</body>
</html>